.carousel {
  position: relative;
  background-color: $light-color;
  grid-area: c;

  padding: $gutter;
  background-color: $light-color;
  order: 1;
}

.carousel-slide {
  position: relative;
  &-item {
    background-image: url(../img/carousel-item-bg.png);
    background-position: 50% 50%;
    background-size: cover;

    border: 7px solid #ffff;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    opacity: 0;
    display: grid;

    @media (min-width: $large + 1) {
      grid-template-areas: "i t";
      grid-template-columns: 250px 1fr;
    }

    @media (max-width: $large) and (min-width: $small + 1) {
      grid-template-areas: "i t";
      grid-template-columns: 220px 1fr;
    }

    @media (max-width: $small) {
      grid-template-areas: "i" "t";
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__image {
      padding: $gutter;
      padding-bottom: 13px;
      grid-area: i;

      img {
        max-width: 100%;
      }
    }

    &__text {
      grid-area: t;

      @media (min-width: $small + 1) {
        padding: $gutter $gutter 13px $gutter;
      }

      @media (max-width: $small) {
        padding: 0 $gutter 0 $gutter;
      }

      p {
        color: #ffff;
        line-height: 1.5rem;

        @media (min-width: $small + 1) {
          text-align: justify;
          padding-right: $gutter;
        }

        @media (max-width: $small) {
          text-align: center;
        }
      }
    }

    &.active {
      position: relative;
      z-index: 1;
      opacity: 1;
    }
  }
}

.carousel-control {
  position: absolute;
  z-index: 2;
  top: 50%;

  img {
    margin-top: -$gutter;
  }
  &.next {
    right: 3px;

    transform: scale(-1, 1);
  }

  &.prev {
    left: 3px;
  }
}
