.main {
  background-color: $light-color;
  grid-area: m;
  position: relative;

  @media (min-width: $small + 1) {
    padding: 0 20px $gutter $gutter;
    &::before {
      content: "";
      height: 90%;
      border-left: 1px solid #dddd;
      position: absolute;
      top: 15px;
      left: -1px;
    }
  }
  @media (max-width: $small) {
    padding: 20px;
  }

  p {
    text-align: justify;

    span {
      font-style: italic;
      color: black;
    }
  }
}
